.js_picture {
  margin-left: 10px;
  margin-right: auto;
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding-bottom: 20px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
#text {
  height: 20px;
  width: 20px;
  border-color: blue;
  margin-left: 50px;
}
